{
    "env": {
        "node": true,
        "es6": true,
        "browser": true,
        "mocha": true,
        "jquery": true
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "extends": "airbnb/base",
    "rules": {
        "no-useless-constructor": "off",
        "class-methods-use-this": "off",
        "no-param-reassign": "off",
        "no-alert": "off"
    },
    "plugins": [
        "mocha"
    ]
}