<div id="search-container">
    <input type="text" placeholder="Filter by search" id="search" />
    {{!-- <label for="type">Choose a car:</label> --}}
    
    <select id="type">
        <option value="all">All</option>
        <option value="author">Author</option>
        <option value="title">Title</option>
    </select>
</div>

<div id="gallery">
</div>